#=====Git=====
.git
.gitignore

#=====Environment / Secrets=====
.env*
secrets.dev.yaml
values.dev.yaml

#=====IDE=====
.vs
.vscode
.idea
*.user

#=====Build artifacts=====
bin
obj

#=====Node / Frontend=====
node_modules
npm-debug.log

#=====OS / Tooling=====
*.dbmdl
*.jfm
.project
.settings
.toolstarget

#=====Docs (optional)=====
README.md
LICENSE