APP_SA_PASSWORD=YOUR_APP_SA_PASSWORD

KEYCLOAK_POSTGRES_USER=YOUR_KEYCLOAK_POSTGRES_USER
KEYCLOAK_POSTGRES_PASSWORD=YOUR_KEYCLOAK_POSTGRES_PASSWORD
KEYCLOAK_POSTGRES_DB=YOUR_KEYCLOAK_POSTGRES_DB_NAME
KEYCLOAK_ADMIN=YOUR_KEYCLOAK_ADMIN_USERNAME
KEYCLOAK_ADMIN_PASSWORD=YOUR_KEYCLOAK_ADMIN_PASSWORD

TUNNEL_TOKEN=YOUR_CLOUDFLARE_TUNNEL_TOKEN