services:
  # api:
  #   image: simple-ecommerce-api
  #   build:
  #     context: .
  #   ports:
  #     - "8080:8080"
  #   env_file:
  #     - ./SimpleECommerceBackend/SimpleECommerceBackend.Api/.env.production
  #   depends_on:
  #     - sqlserver
  #   restart: unless-stopped

  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: ${SA_PASSWORD}
      MSSQL_PID: "Developer"
    ports:
      - "1433:1433"
    volumes:
      - sqlserver_data:/var/opt/mssql

volumes:
  sqlserver_data:
